<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    <title>test</title>
</head>
<body>
    <div id="main">
        <p>[[datetime]]</p>
        <input id="datetime" type="datetime-local" v-model="datetime"/>
        <button @click="getByTimestamp()">get by datetime</button>
        <button @click="getLast()">get last</button>
        <table>
            <tr>
                <th>symbol</th>
                <th>price</th>
                <th>pause update</th>
            </tr>
            <tr v-for="price in allPrices">
                <td>[[price.symbol]]</td>
                <td>[[price.price]]</td>
                <td><input type="checkbox" :value="price.symbol" v-model="checkedPrice"></td>
            </tr>
        </table>
    </div>
<script>
    var vue = new Vue({
        delimiters: ['[[', ']]'],
        el: "#main",
        data: {
            allPrices: ['2'],
            checkedPrice: [],
            datetime: '',
            timestamp: ''
        },
        mounted() {
            this.getAllPrice();
            this.update();
        },
        methods: {
            getLast() {
              this.timestamp = '';
            },
            getByTimestamp() {
                if (this.datetime === '') {
                    return
                }
                var newDatetime = this.datetime.replace(/\-/g, '/');
                newDatetime = newDatetime.replace('T', ' ') + ':00';
                this.timestamp = Date.parse(newDatetime) / 1000;

            },
            getAllPrice() {
                this.$http.get('/price/').then(response => {
                    this.allPrices = response.body.result;
                  }, response => {
                    console.log(response);
                });
            },
            updatePrice() {
                var pauseUpdateParas = '';
                for (var symbol of this.checkedPrice) {
                    pauseUpdateParas += (symbol + ',')
                }
                this.$http.get('/price/?pause=' + pauseUpdateParas + '&date=' + this.timestamp).then(response => {
                    for (var res of response.body.result) {
                        for (var cur in this.allPrices) {
                            if (res.symbol === this.allPrices[cur].symbol) {
                                this.allPrices[cur].price = res.price;
                            }
                        }
                    }
                  }, response => {
                    console.log(response);
                });
            },
            update () {
                var self = this;
                setInterval(function() {
                  self.updatePrice();
                }, 2000);
            }
        }
    })
</script>
</body>
</html>